@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Space+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto");
#logbody, #regbody {
  margin: 0;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  text-align: center;
  background: #2ecc71; }
  #logbody h1, #regbody h1 {
    text-transform: Uppercase;
    font-size: 70px;
    font-family: 'Abril Fatface';
    color: #2c3e50; }
  #logbody #logdiv, #logbody #regdiv, #regbody #logdiv, #regbody #regdiv {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    align-self: center; }
    #logbody #logdiv form, #logbody #regdiv form, #regbody #logdiv form, #regbody #regdiv form {
      background: #1abc9c;
      padding: 30px;
      border-radius: 15px;
      border: inset 15px #9b59b6;
      font-size: 2rem; }
      #logbody #logdiv form a, #logbody #regdiv form a, #regbody #logdiv form a, #regbody #regdiv form a {
        text-decoration: none;
        color: black;
        margin: 10px 0;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        border: none;
        background: #ecf0f1;
        font-family: 'Space mono';
        font-size: 1.3rem; }
      #logbody #logdiv form p, #logbody #regdiv form p, #regbody #logdiv form p, #regbody #regdiv form p {
        font-family: 'Space mono';
        padding: 0;
        margin: 0; }
        #logbody #logdiv form p input, #logbody #regdiv form p input, #regbody #logdiv form p input, #regbody #regdiv form p input {
          border-radius: 10px;
          font-size: 1.5rem;
          font-family: 'Space mono';
          border: none;
          padding: 3px; }
      #logbody #logdiv form p:last-of-type input, #logbody #regdiv form p:last-of-type input, #regbody #logdiv form p:last-of-type input, #regbody #regdiv form p:last-of-type input {
        margin: 20px 0;
        padding: 10px;
        cursor: pointer;
        background: #ecf0f1; }

#regbody {
  height: initial;
  overflow-x: hidden; }
  #regbody #regdiv p {
    font-size: 1.3rem; }
  #regbody #regdiv form {
    margin-bottom: 50px; }

#box {
  width: 20px;
  height: 20px;
  margin: 0 5px; }

.g-recaptcha {
  display: flex;
  justify-content: center; }

.error {
  color: red; }

tr, td {
  width: 75%; }

#index {
  margin: 0;
  font-family: 'Roboto'; }
  #index header {
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #9b59b6; }
    #index header nav {
      height: 70px;
      background: #1abc9c; }
      #index header nav ul {
        padding: 0;
        margin: 0;
        display: inline;
        float: left;
        line-height: 70px; }
        #index header nav ul li {
          margin: 0 10px;
          display: inline-block; }
          #index header nav ul li a {
            text-decoration: none;
            color: black;
            transition: 0.2s; }
            #index header nav ul li a:hover {
              color: white; }
          #index header nav ul li p {
            padding: 0;
            margin: 0; }
      #index header nav ul:last-of-type {
        float: right; }

footer {
  text-align: center; }
  footer p {
    border-top: 3px solid #9b59b6;
    background: #1abc9c;
    margin: 0;
    padding: 20px; }

#catSection {
  min-height: calc(100vh - 135px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #16a085; }
  #catSection form {
    align-self: center;
    font-size: 2rem; }
    #catSection form p {
      text-align: center;
      font-family: Mono space; }
    #catSection form input {
      font-size: 2rem;
      border-radius: 15px;
      border: none;
      font-family: Mono space;
      padding: 5px; }
    #catSection form input:last-of-type {
      padding: 10px;
      cursor: pointer; }

#indexSection {
  background: #16a085;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 135px); }
  #indexSection form {
    text-align: center;
    font-size: 2rem; }
    #indexSection form textarea {
      width: 50%;
      height: 220px;
      resize: none;
      font-size: 1.5rem; }
    #indexSection form input {
      font-size: 2rem;
      border-radius: 15px;
      border: none;
      padding: 10px;
      cursor: pointer; }
  #indexSection table {
    width: 80%;
    color: white;
    margin: 20px auto;
    border-collapse: collapse; }
    #indexSection table tr th {
      padding: 15px;
      font-size: 1.3rem;
      text-transform: uppercase;
      background: #9b59b6;
      border: 2px solid black; }
    #indexSection table tr td {
      background: #1abc9c;
      padding: 15px;
      border: 2px solid black; }
      #indexSection table tr td a {
        color: white;
        text-decoration: none;
        transition: 0.2s; }
        #indexSection table tr td a:hover {
          color: black; }

#topSection {
  background: #16a085;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 135px); }
  #topSection form {
    text-align: center;
    font-size: 2rem; }
    #topSection form p {
      text-align: center;
      font-family: Mono space; }
    #topSection form p:last-of-type input {
      cursor: pointer; }
    #topSection form input, #topSection form select, #topSection form textarea {
      font-size: 2rem;
      border-radius: 15px;
      border: none;
      font-family: Mono space;
      padding: 5px; }
    #topSection form textarea {
      width: 500px;
      height: 220px;
      resize: none;
      font-size: 1.5rem; }

#category {
  background: #16a085;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: calc(100vh - 135px); }
  #category h2, #category h3 {
    text-align: center; }
  #category table {
    margin: 20px auto;
    color: white;
    border-collapse: collapse; }
    #category table tr th {
      padding: 15px;
      font-size: 1.3rem;
      text-transform: uppercase;
      background: #9b59b6;
      border: 2px solid black; }
    #category table tr td {
      background: #1abc9c;
      padding: 15px;
      border: 2px solid black; }
      #category table tr td a {
        color: white;
        text-decoration: none;
        transition: 0.2s; }
        #category table tr td a:hover {
          color: black; }
      #category table tr td h3 {
        text-align: left; }

.topic {
  width: 15%; }
